<form fxFlex fxLayout="column">
    <div class="form-content" fxFlex="100%">
        <div class="row">
            <div class="form-group col-md-6 mb-2">
                <label for="" class="mb-0">{{'StartDate'|translate}}</label>
                <input type="text" class="form-control-sm form-control" id="opnStartDate" name="opnStartDate" 
                [(ngModel)]="selectedTaskModel.OPTM_OPNSTDATETIME" placeholder="">
            </div>
            <div class="form-group col-md-6 mb-2">
                <label for="" class="mb-0">{{'EndDate'|translate}}</label>
                <input type="text" class="form-control-sm form-control" id="opnEndDate" name="opnEndDate" 
                [(ngModel)]="selectedTaskModel.OPTM_OPNSTDATETIME" placeholder="">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-2">
                <label for="" class="mb-0">{{'ProducedQty'|translate}}</label>
                <input type="text" class="form-control-sm form-control" id="producedQty" name="producedQty" placeholder="">
            </div>
            <div class="form-group col-md-6 mb-2">
                <label for="" class="mb-0">{{'AcceptedQty'|translate}}</label>
                <input type="text" class="form-control-sm form-control" id="acceptedQty" name="acceptedQty" 
                 placeholder="">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-2">
                <label for="" class="mb-0">{{'RejectedQty'|translate}}</label>
                <input type="text" class="form-control-sm form-control" id="rejectedQty" name="rejectedQty" placeholder="">
            </div> 
            <div class="form-group col-md-3 mb-2 pr-md-0">  
                <label for="" class="mb-0">{{'NCQty'|translate}}</label>
                <input type="text" class="form-control-sm form-control" id="ncQty" name="ncQty" placeholder="">
            </div> 
            <div class="form-group col-md-3 mb-2 d-flex align-items-end mt-sm-3">
                <input type="text" class="form-control-sm form-control" id="" placeholder="Batch/Serial">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-2">
                <label for="" class="mb-0">{{'InterruptDate'|translate}}</label>
                <input type="text" class="form-control-sm form-control" id="interruptDate" name="interruptDate" placeholder="">
            </div>
            <div class="form-group col-md-6 mb-2">
                <label for="reason" class="mb-0 w-100">{{'InterruptReason'|translate}}</label>
                <!-- <kendo-dropdownlist class="w-100" [data]="interruptReasonList"  [disabled]="interruptReasonEnable"
                      (selectionChange)="selectionChange($event, 'reason')"
                      (click)="getAllReasons()"
                      textField="Description"
                      valueField="Description"
                      id="interruptReason"
                      name="interruptReason" 
                      [(ngModel)]="selectedInterruptReason" 
                      >
                      </kendo-dropdownlist> -->
            </div>            
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-2">
                <label for="" class="mb-0 w-100">{{'Remarks'|translate}}</label>
                <input type="text" class="form-control-sm form-control" id="remarks" name="remarks" placeholder="">
            </div>
            <div class="form-group col-md-6 mb-2">
                <label for="" class="mb-0">{{'AbortReason'|translate}}</label>
                <input type="text" class="form-control-sm form-control" id="abortReason" name="abortReason" placeholder="">
            </div>
        </div>
    </div>

    <div class="form-action-bar justify-content-between d-flex">
        <span>
            <button type="button" class="btn btn-primary mr-1 btn-sm">{{'StartResume'|translate}}</button>
            <button type="button" class="btn btn-success mr-1 btn-sm">{{'Finish'|translate}}</button>
        </span>
        <span>
            <button type="button" class="btn btn-danger mr-1 btn-sm">{{'Interrupt'|translate}}</button>
            <button type="button" class="btn btn-danger mr-1 btn-sm">{{'Abort'|translate}}</button>
            <button type="button" class="btn btn-success btn-sm">{{'Submit'|translate}}</button>
        </span>
    </div>
</form>